.contact {
  height: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($secondary-color, 0.2)
    ),
    url(../img/bg.jpg);
  background-size: cover;
  background-position: center;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  &_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
  }

  .social-icons {
    position: initial;
    margin-top: 2rem;
  }
}
